<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<title>{% block title %}{% endblock %} - Haeqs with us</title>
<body>
  <header>
    <h1>HAEQS</h1>
    <h3>queer feminist hackspace berlin</h3>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Meetings</a></li>
        {% for href, title in [
          ['/code-of-conduct', 'Code of Conduct'],
          ['/contact', 'Contact'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    background image By NASA/JPL-Caltech/ESA/CXC/STScI, <a href="https://commons.wikimedia.org/wiki/File%3ACenter_of_the_Milky_Way_Galaxy_IV_%E2%80%93_Composite.jpg">via Wikimedia Commons</a>
  </footer>
</body>
