{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h2>{{ this.title }}</h2>
  {{ this.body }}
  {% if this.title == "Meetings"%}
  <div class="puppy-gif">
    <img src="/static/giphy.gif" width=350 alt="">
  </div>
  {% endif %}
{% endblock %}
