body {
    color: #210948;
    font-family: 'Ubuntu', 'Verdana', sans-serif;
    margin: 50px 25px;
    background-image: url('galaxy.jpg');
}

a {
    color: #573a9b;
    text-decoration: none;
}

a:hover {
    color: #3f3274;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    background: #92a9c6;
    padding: 20px 30px;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header h3 {
  margin-top: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #92a9c6;
}

footer {
  font-size: 10px;
}

.puppy-gif {
  margin: 0 auto;
  width: 350px;
}
